<!DOCTYPE html>
<html lang="en">
<script>
window.onload=function(){
    Active("C2_DailyBuild");
}
</script>
<style type="text/css">
</style>
<head>
    <meta charset="UTF-8">
    <link href="/static/css/youwu.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/static/js/youwu.js" type="text/javascript"></script>
    <title>感悟科技</title>
</head>
<body>
    <div>
        {% include "LogoTitle.html"%}
    </div>
    <div class="build_table">
        <table class="altrowstable" id="version_table">
            <tr class="row_title">
                <th>版本号/版本发布时间</th>
                <th>软件下载</th>
                <th>调试信息</th>
                <th>提交记录</th>
            </tr>
            {% for build in builds %}
            <tr class="row_data">
                <td>{{build.name}}</td>
                <td>
                    {% for binary in build.binaries %}
                    <a href="/Download?type=C2Daily&path={{ binary.1 }}" download="" onclick="return confirm_download()">
                        {{ binary.0 }}
                    </a>
                    <br>
                    {% endfor %}
                </td>
                <td>
                    {% for debug_info in build.debug_infos %}
                    <a href="/Download?type=C2Daily&path={{ debug_info.1 }}" download=""
                       onclick="return confirm_download()">
                        {{ debug_info.0 }}
                    </a>
                    <br>
                    {% endfor %}
                </td>
                <td>
                    {% if build.commit_history != "None" %}
                        <a href="/CommitHistory?type=C2Daily&path={{ build.commit_history }}">查看</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>