<!DOCTYPE html>
<html lang="en">
<script>

window.onload=function(){
    Active("B2_DailyBuild");
};




</script>
<style type="text/css">
</style>
<head>
    <meta charset="UTF-8">
    <link href="/static/css/youwu.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/static/js/youwu.js" type="text/javascript"></script>

    <title>感悟科技</title>
</head>
<body>
<div>
    {% include "LogoTitle.html"%}
</div>
<div class="build_body">
    <div>
        {% include "NavigationBar.html"%}
    </div>
    <div class="build_table">
        <table class="altrowstable" id="version_table">
            <tr class="row_title">
                <th>版本号/版本发布时间</th>
                <th>软件下载</th>
                <th>提交记录</th>
            </tr>
            {% for build in builds %}

            <tr class="row_data">
                <td>{{build.name}}</td>
                <td>
                    {%with i=100%}
                    {% for binary in build.binaries %}
                    {{ i|add:"1" }}
                    <a href="/Download?type=B2Daily&path={{ binary.1 }}" download=""
                       onclick="return confirm_download()">
                        {{ binary.0 }}
                    </a>
                        {% if i|divisibleby:2 %}
                        <br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="/CommitHistory?type=B2Daily&path={{ build.commit_history }}">查看</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>