<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<script>
    function AddReleaseNotes(){
        var Table = document.getElementById("getintouch");
        var Commits = {{commits|safe}};
        console.log(Commits);
        var Container="";
        for(i in Commits){
            Container=CreateContainer(Commits[i]);
            Table.appendChild(Container);
        }
    }
    function CreateContainer(Commit){
        var Container=document.createElement('div');
        Container.className = "container";
        var Attributes = Commit.attr;
        var Message=Commit.msg
        var AttrRow="";
        for(i in Attributes){
            AttrRow=CreateAttrRow(Attributes[i]);
            Container.appendChild(AttrRow);
        }
        var MsgRow = CreateAttrRow(Message)
        Container.appendChild(MsgRow);
        return Container;
    }
    function CreateAttrRow(Attribute){
        console.log(Attribute);
        var Div=document.createElement('div');
        Div.className="row clearfix";
        var DivName=CreateAttrName(Attribute[0]);
        var DivValue=CreateAttrValue(Attribute[1]);
        Div.appendChild(DivName);
        Div.appendChild(DivValue);
        return Div;
    }
    function CreateAttrName(Name){
        var Div=document.createElement('div');
        Div.className="attr_name";
        var Text=document.createTextNode(Name);
        Div.appendChild(Text);
        return Div;
    }
    function CreateAttrValue(Value){
        var Div=document.createElement('div');
        Div.className="attr_value";
        var Text=document.createTextNode(Value);
        Div.appendChild(Text);
        return Div;
    }


    window.onload=function(){
    AddReleaseNotes();
}






</script>
<style>
    .attr_name {
        font-size:20px;
        font-family: Georgia;
        font-weight:bold;
        float: left;
        width: 17%;
        <!--height: 50px;-->
        <!--background-color: red;-->
    }
    .attr_value {
        font-size:20px;
        font-family: Georgia;
        float: left;
        <!--height: 50px;-->
        <!--background-color: orange;-->
    }

    .clearfix {
        margin-top:20px;
    }






</style>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>感悟科技</title>
    <link href="/static/css/demo.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui.js" type="text/javascript"></script>
    <script src="/static/js/jquery.ffform.js" type="text/javascript"></script>
    <!--<link href="static/css/demo.css" rel="stylesheet" type="text/css">-->
    <!--<script src="static/js/jquery-1.10.2.min.js" type="text/javascript"></script>-->
    <!--<script src="static/js/jquery-1.10.2.min.js" type="text/javascript"></script>-->
    <!--<script src="static/js/jquery-ui.js" type="text/javascript"></script>-->
    <!--<script src="static/js/jquery.ffform.js" type="text/javascript"></script>-->

</head>
<body>
<section id="getintouch" class="fadeInRightBig animated">
    <div class="container" style="border-bottom: 0;">
        <h1>
            <span>{{name|safe}}</span>
        </h1>
    </div>
    <div class="container">

        <div class="row clearfix">
            <div class="attr_name">Commit :</div>
            <div class="attr_value">8cb315146bd9c7133ef483bba4d5923a82a87e01</div>
        </div>
        <div class="row clearfix">
            <div class="attr_name">Auther :</div>
            <div class="attr_value">qingjunwang</div>
        </div>
        <div class="row clearfix">
            <div class="attr_name">Date :</div>
            <div class="attr_value">Tue Sep 18 10:03:46 2018 +0800</div>
        </div>
        <div class="row clearfix">
            <div class="attr_name">Change-Id :</div>
            <div class="attr_value">Ib8b0e9a6385016eb85c0e474c878d627958d5ef6</div>
        </div>
        <div class="row clearfix">
            <div class="attr_name">Signed-Off :</div>
            <div class="attr_value">qingjunwang</div>
        </div>
        <div class="row clearfix">
            <div class="lbl attr_name">Message :</div>
            <div class="attr_value">asd<br>asdads<br>

            </div>
        </div>
        <!--</div>-->
    </div>
    <div class="container">
        <div class="contact">
            <div class="row clearfix">
                <div class="attr_name">Commit :</div>
                <div class="attr_value">8cb315146bd9c7133ef483bba4d5923a82a87e01</div>
            </div>
            <div class="row clearfix">
                <div class="attr_name">Auther :</div>
                <div class="attr_value">qingjunwang</div>
            </div>
            <div class="row clearfix">
                <div class="attr_name">Date :</div>
                <div class="attr_value">Tue Sep 18 10:03:46 2018 +0800</div>
            </div>
            <div class="row clearfix">
                <div class="attr_name">Change-Id :</div>
                <div class="attr_value">Ib8b0e9a6385016eb85c0e474c878d627958d5ef6</div>
            </div>

            <div class="row clearfix">
                <div class="lbl attr_name">Message :</div>
                <div class="attr_value">
                    <h1>ssss</h1>
                    <h1>ssss</h1>
                    <h1>ssss</h1>
                    <h1>ssss</h1>
                    <h1>ssss</h1>
                    <h1>ssss</h1>
                    <h1>ssss</h1>
                    <h1>ssss</h1>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
