<!DOCTYPE html>
<html lang="en">
<script>
function AddRows(){
    var Table = document.getElementById("version_table");
    var Builds = {{builds|safe}};
    console.log(Builds);
    var TableRow="";
    for (var x=0;x<100;x++){
    for(i in Builds){
        TableRow=CreateRow(Builds[i]);
        Table.appendChild(TableRow);
    }
    }
}
function CreateRow(build){
    var Row=document.createElement('tr');
    Row.className = "row_data";
    var name =  CreateNameTD(build.name);
    var binary = CreateBinaryTD(build.binary);
    var debug_info = CreateDebugInfo(build.debug_info);
    var commit_history = CreateCommitHistory(build.commit_history);
    var release_notes= CreateReleaseNotes(build.release_notes);
    var test_reports = CreateReleaseNotes(build.release_notes);
    var upload_button = CreateUpload(build.name);
    Row.appendChild(name)
    Row.appendChild(binary)
    Row.appendChild(debug_info)
    Row.appendChild(commit_history)
    Row.appendChild(release_notes)
    Row.appendChild(test_reports)
    Row.appendChild(upload_button)
    return Row
}

window.onload=function(){
    AddRows();
    Active("C2_WeeklyBuild");
}

</script>
<style type="text/css">
</style>
<head>
    <meta charset="UTF-8">
    <link href="/static/css/youwu.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/static/js/youwu.js" type="text/javascript"></script>
    <title>感悟科技</title>
</head>
<body>
    <div>
        {% include "LogoTitle.html"%}
    </div>
    <div class="build_body">
        <div>
            {% include "NavigationBar.html"%}
        </div>
        <div class="build_table">
            <table class="altrowstable" id="version_table">
                <tr class="row_title">
                    <th>版本号/版本发布时间</th>
                    <th>软件下载</th>
                    <th>调试信息</th>
                    <th>提交记录</th>
                    <th>版本注释</th>
                    <th>测试报告</th>
                    <th>文件上传</th>
                    <th>历史记录</th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>