<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<script>
</script>
<style>
</style>
<head>
    <meta charset="UTF-8">
    <link href="/static/css/youwu.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/static/js/youwu.js" type="text/javascript"></script>
    <title>感悟科技</title>
</head>
<body>
<div>
    {% include "LogoTitle.html"%}
</div>
<form id='C2'>
    项目名称:<input type="text" name="project" value="{{ C2.Project }}"><br>
    硬件版本:<input type="text" name="lastname" value="{{ C2.HW }}"><br>
    
    <input type="submit" value="Submit">
</form>

</body>
</html>
