<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<script>
</script>
<style>
    .config_row{
        margin: 5px 15px 5px 15px;
    }
    .config_button{

    }




</style>
<head>
    <meta charset="UTF-8">
    <link href="/static/css/youwu.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/static/js/youwu.js" type="text/javascript"></script>
    <title>感悟科技</title>
</head>
<body>
<div>
    {% include "LogoTitle.html"%}
</div>
<div class="config_body">
    <form method="post">
        <div>
            <input type="text" name="Form" value="C2" hidden="true">
        </div>
        <div class="config_title">
            <b> C2 版本号配置</b>
        </div>
        <div class="config_row">
            <b> 项目名称 : </b>
            <input type="text" name="Project" value="{{ C2.Project }}">
        </div>
        <div class="config_row">
            <b> 硬件版本 : </b>
            <input type="text" name="HW" value="{{ C2.HW }}">
        </div>
        <div class="config_row">
            <b> 出货市场 : </b>
            <input type="text" name="Market" value="{{ C2.Market }}">
        </div>
        <div class="config_row">
            <b> 保留字段 : </b>
            <input type="text" name="Reserved" value="{{ C2.Reserved }}">
        </div>
        <div class="config_row">
            <b> 主版本号 : </b>
            <input type="text" name="Edition" value="{{ C2.Edition }}">
        </div>
        <div class="config_row">
            <b> 次版本号 : </b>
            <input type="text" name="Release" value="{{ C2.Release }}">
        </div>
        <div class="config_row">
            <b> 内部版本 : </b>
            <input type="text" name="Internal" value="{{ C2.Internal }}" readonly="true">
        </div>
        <div>
            <input class="config_button" type="submit" value="保存">
        </div>
    </form>
</div>
</body>
</html>
