<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<script>
    function AddReleaseNotes(){
        var Table = document.getElementById("getintouch");
        var Commits = {{commits|safe}};
        var Container="";
        for(i in Commits){
            Container=CreateContainer(Commits[i]);
            Table.appendChild(Container);
        }
    }
    function CreateContainer(Commit){
        var Container=document.createElement('div');
        Container.className = "container";
        var Attributes = Commit.attr;
        var Message=Commit.msg
        var AttrRow="";
        for(i in Attributes){
            AttrRow=CreateAttrRow(Attributes[i]);
            Container.appendChild(AttrRow);
        }
        var MsgRow = CreateMsgRow(Message)
        Container.appendChild(MsgRow);
        return Container;
    }
    function CreateAttrRow(Attribute){
        var Div=document.createElement('div');
        Div.className="row clearfix";
        var DivName=CreateAttrName(Attribute[0]);
        var DivValue=CreateAttrValue(Attribute[1]);
        Div.appendChild(DivName);
        Div.appendChild(DivValue);
        return Div;
    }
    function CreateAttrName(Name){
        var Div=document.createElement('div');
        Div.className="attr_name";
        var Text=document.createTextNode(Name);
        Div.appendChild(Text);
        return Div;
    }
    function CreateAttrValue(Value){
        var Div=document.createElement('div');
        Div.className="attr_value";
        var Text=document.createTextNode(Value);
        Div.appendChild(Text);
        return Div;
    }
    function CreateMsgRow(Message){
        var Div=document.createElement('div');
        Div.className="row clearfix";
        var DivName=CreateAttrName("Message :");
        var DivMsg = CreateMsgDiv(Message);
        Div.appendChild(DivName);
        Div.appendChild(DivMsg);
        return Div;
    }
    function CreateMsgDiv(Message){
        var Div=document.createElement('div');
        Div.className="attr_value";
        console.log(Message);
        for(i in Message){
            var Text = document.createTextNode(Message[i]);
            Div.appendChild(Text);
            Div.appendChild(document.createElement("br"));
        }
        return Div;
    }

    window.onload=function(){
    AddReleaseNotes();
}
</script>
<style>
    .attr_name {
        font-size:20px;
        font-family: Georgia;
        font-weight:bold;
        float: left;
        width: 17%;
        <!--height: 50px;-->
        <!--background-color: red;-->
    }
    .attr_value {
        font-size:20px;
        font-family: Georgia;
        float: left;
        <!--height: 50px;-->
        <!--background-color: orange;-->
    }
    .commit_history_title {
        font-size:26px;
        color: black;

    }
    .clearfix {
        margin-top:20px;
    }

</style>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>感悟科技</title>
    <!--<link href="/static/css/demo.css" rel="stylesheet" type="text/css">-->
    <!--<script src="/static/js/jquery-1.10.2.min.js" type="text/javascript"></script>-->
    <!--<script src="/static/js/jquery-1.10.2.min.js" type="text/javascript"></script>-->
    <!--<script src="/static/js/jquery-ui.js" type="text/javascript"></script>-->
    <!--<script src="/static/js/jquery.ffform.js" type="text/javascript"></script>-->
    <link href="static/css/demo.css" rel="stylesheet" type="text/css">
    <script src="static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="static/js/jquery-ui.js" type="text/javascript"></script>
    <script src="static/js/jquery.ffform.js" type="text/javascript"></script>

</head>
<body>
<section id="getintouch" class="fadeInRightBig animated">
    <div class="container" style="border-bottom: 0;">
        <h1 class="commit_history_title">{{name|safe}}</h1>
    </div>
</section>
</body>
</html>
