<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="/static/css/st_common.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<div class='commonweb clearfix'>
    <div style="float: left;">
        <img src="/static/images/logo.jpg">
    </div>
    <div style="float: left;">
        <h1>感悟科技软件发布系统</h1>
    </div>
</div>

</body>
</html>
